/* Garante que o HTML seja a base do redimensionamento */
html {
    font-size: 16px; /* Base padrão */
    transition: font-size 0.2s ease-in-out;
}

.sua-classe-de-container p, 
.sua-classe-de-container h1, 
.sua-classe-de-container h2, 
.sua-classe-de-container button {
    font-size: 1rem;
}
